@tailwind base;
@tailwind components;
@tailwind utilities;

.earth-sea-game-chat-container:nth-child(even) {
    .earth-sea-game-chat {
        @apply border-x-2;
    }
}

body {
    font-family: "ModernAntiqua", "Courier New", Courier, monospace;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-gray-500;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-200;
}
