.starting-menu-container {
    height: 100vh;
    background-image: url('/clemenceau_cv.webp');
    background-size: cover;

    display: flex;
    align-items: center;
    padding: 2rem;
    justify-content: space-between;
    flex-direction: column;

    .game-title {
        font-size: 6rem;
        color: white;
    }
}

